<header>
    <div id="header-init">
        <span id="logo">LOGO</span>

        <div id="material-tab">
            <div class="material">
                <span class="icon" id="woodAmount">{{{inventory.wood}}}</span>
                <img src="img/wood.png" title="Wood">
            </div>
            <div class="material">
                <span class="icon" id="boneAmount">{{{inventory.bone}}}</span>
                <img src="img/bones.png" title="Bones">
            </div>
            <div class="material">
                <span class="icon" id="stoneAmount">{{{inventory.stone}}}</span>
                <img src="img/stone.png" title="Stone">
            </div>
            <div class="material">
                <span class="icon" id="bronzeAmount">{{{inventory.bronze}}}</span>
                <img src="img/bronze.png" title="Bronze">
            </div>
            <div class="material">
                <span class="icon" id="ironAmount">{{{inventory.iron}}}</span>
                <img src="img/iron.png" title="Iron">
            </div>
            <div class="material">
                <span class="icon" id="silverAmount">{{{inventory.silver}}}</span>
                <img src="img/silver.png" title="Silver">
            </div>
        </div>
    </div>

    <div id="header-final">
        <div class="currency">
            <span class="icon" id="crystalAmount">{{{inventory.crystal}}}</span>
            <img src="img/gem.png" title="Crystal">
        </div>
        <div class="currency">
            <span class="icon" id="coinAmount">{{{inventory.gold}}}</span>
            <img src="img/coin.png" title="Coin"> 
        </div>
        <a class="link" href="/logout">Logout</a>
    </div>
</header>

<section>
    <div id="pve">
        <h1 id="mob-name">{{{mob.name}}}</h1>
        <img class="mob-pic" src="{{{mob.picture}}}.png" title="{{{mob.name}}}">
    </div>
</section>

<article>
    <div id="mob-type-tab">
        <span class="mob-type">{{{log.tree}}} Tree</span>
        <span class="mob-type">{{{log.stone}}} Stone</span>
        <span class="mob-type">{{{log.monster}}} Monster</span>
    </div>
</article>

<footer>
    <div class="slots">
        <div class="tool">
            {{#if equip1}}
                <img src="{{equip1.picture}}.png" title="{{equip1.name}} | {{equip1.description}} | Damage: {{equip1.damage}}" id="pickaxe">
            {{/if}}
        </div>
        <div class="tool">
            {{#if equip2}}
                <img src="{{equip2.picture}}.png" title="{{equip2.name}} | {{equip2.description}} | Damage: {{equip2.damage}}" id="sword">
            {{/if}}
        </div>
        <div class="tool">
            {{#if equip3}}
                <img src="{{equip3.picture}}.png" title="{{equip3.name}} | {{equip3.description}} | Damage: {{equip3.damage}}" id="axe">
            {{/if}}
        </div>
    </div>

    <div id="options">
        <span class="option-btn" id="shop">
            SHOP
        </span>
        <span class="option-btn" id="friends">
            FRIENDS
        </span>
        <span class="option-btn" id="skills">
            SKILLS
        </span>
        <span class="option-btn" id="craft">
            CRAFT
        </span>
    </div>
</footer>

<script src="js/script.js"></script>